<?xml version="1.0" encoding="ISO-8859-1"?>
 
<!-- This is the main configuration file for OKUSON. 
     Copyright (C) 2003 Frank Lübeck and Max Neunhöffer -->

<!DOCTYPE Config SYSTEM "config.dtd">

<Config>

<!-- Usually you will not have to add or remove any elements in this 
     file but just adjust the textual data between tags. Generally
     white space is removed at the beginning and end of each element.
     See the comments or the manual for explanations.

     This file contains three sections:

       Course section: 
               Every user will have to adjust the values in this section
               to customize things for the specific course.

       Installation section: 
               Only administrators who want to adjust the installation
               to special circumstances need to have a look at this
               section.
               
       Customization section: 
               In this section many aspects of OKUSON can be customized.
               WARNING: Usually one should leave this section alone.
                        He who feels inclined to change anything here
                        should know what he is doing!

-->

<!-- ====================================================================
                              Course section
     ==================================================================== -->

<!-- The following is the encrypted administrator password. Please use the
     "cryptpasswd" utility in the OKUSON home directory to encrypt some 
     password. 
     
     This password gives very powerful access to the OKUSON server, so
     choose it carefully: 
     It can be used as super-password in all web forms which ask for a 
     password (of any course participant, tutor or the administrator) 
     and is considered valid if the request is coming from a machine 
     as configured in AdministrationAccessList below.
     
     The default setting is secret, so you must change it! -->
<AdministratorPassword>
xvPTFipiaskI.
</AdministratorPassword>

<!-- The name of the course served by this directories' server: -->
<CourseName>
Lineare Algebra I
</CourseName>

<!-- The semester this course takes place in: -->
<Semester>
WS 2003/04
</Semester>

<!-- The lecturer: -->
<Lecturer>
Prof. Dr. Herbert Pahlings
</Lecturer>

<!-- A chunk of HTML code that should appear at the bottom of every page
     for feedback. Please enclose everything in a CDATA section as shown
     such that the XML parser reading this file sees only one big string. -->
<Feedback><![CDATA[
<br /><a href="mailto:frank.luebeck@math.rwth-aachen.de">
Frank Lübeck (Frank.Luebeck@Math.RWTH-Aachen.De)</a> oder
<br /><a href="mailto:max.neunhoeffer@math.rwth-aachen.de">
Max Neunhöffer (Max.Neunhoeffer@Math.RWTH-Aachen.De)</a>
]]></Feedback>


<!-- The following is put as string (no element content allowed, use a
     CDATA section if necessary!) at the top of each page (directly behind
     the <body> tag of the xhtml page. -->
<Header></Header>


<!-- The following is put as string (no element content allowed, use a
     CDATA section if necessary!) at the bottom of each page (directly before
     the </body> tag of the xhtml page. -->
<Footer></Footer>


<!-- The following appears on the registration page under the entry
"Studiengang", which means the direction of studies. Note that there
is also a free form field which - when nonempty - overwrites the choice
given here. The available options appear each within an "Option" element.
The last plays a special role: It should be not a real option but
indicate that the free form field counts which is also available. -->
<PossibleStudies>
  <Option>Mathematik-Diplom</Option>
  <Option>Mathematik-Lehramt</Option>
  <Option>Physik-Diplom</Option>
  <Option>Physik-Lehramt</Option>
  <Option>Informatik-Diplom</Option>
  <Option>Schülerstudium</Option>
  <Option>Sonstiges</Option>
</PossibleStudies>

<!-- The port on which our web server listens: -->
<Port>
8000
</Port>

<!-- With the <ConfigData> elements one can define an arbitrary number
     of additional data for customization. There must be an attribute 'key'.

     The content is stored (as string) as value in a dictionary under the 
     key given by the 'key' attribute.

     These data can be used for example in the web pages via tags
     <ConfigData key=".." /> and so on, similar to <CourseName /> above. 
     
     In LaTeX templates below the data can be included with, e.g., 
     (%ConfigData.bla%).

Example:
-->
<ConfigData key="bla">blub</ConfigData>

<!-- A chunk of LaTeX header code that is put in the preamble of all
     LaTeX documents that are generated by this program. Put here all extra
     definitions like calls to "\usepackage" or common LaTeX macros 
     that you need in your exercises. See "LaTeXTemplate" below to learn 
     which facilities are included by default. This entry is optional. -->
<ExtraLaTeXHeader>
</ExtraLaTeXHeader>


<!-- The following regular expression is used to validate id's. As we use
Matrikel numbers usually we insist on numbers. For those not familiar with
regular expressions the following means that an id must start with a
digit between 1 and 9 which is followed by 4 or 5 digits from 0 to 9:
-->
<IdCheckRegExp>^[1-9][0-9]{4,5}$</IdCheckRegExp>
<!-- Another possibility could be to allow any string consisting of
letters a-z, A-Z, digits 0-9, dashes - and underscores: 

<IdCheckRegExp>^[a-zA-Z0-9_]*$</IdCheckRegExp>
-->


<!-- The following regular expression is used to check, whether an id is
     a guest id. Guest IDs have the following properties: They are excluded
     during export functions. One can authenticate with any password. -->
<GuestIdRegExp>^9999[0-9][0-9]$</GuestIdRegExp>
<!--<GuestIdRegExp>^_gast[a-zA-Z0-9_]*$</GuestIdRegExp>-->


<!-- The following switch tells OKUSON, whether exercise sheets are individual 
     (value 1) or not (value 0). This way OKUSON can be used easily for
     courses with "classical" exercise sheets (without multiple choice 
     exercises).  -->
<IndividualSheets>
1
</IndividualSheets>

<!-- The following switch decides, whether new registrations are possible 
     (value 1) or not (value 0). Note that the administrator can still
     register people over the web interface, if he gives the administrator
     password as the first of the two passwords, even when registration
     is switched off for regular participants. -->
<RegistrationPossible>
1
</RegistrationPossible>


<!-- The following switch decides, whether registrations for exams are 
     possible (value 1) or not (value 0). Note that you have to configure
     this registration in the templates in the html directory (see 
     html/examregistration.tpl for details. You might also want to add 
     a menu entry in the main menu to link to /html/examregistration.html. -->
<ExamRegistrationPossible>
1
</ExamRegistrationPossible>


<!-- The following switch decides, whether it is possible to choose the
     number of the tutoring group during registration. If this switch is
     off (value 0), each newly registered participant is put into group
     number 0. If this switch is on (value 1), each newly registered 
     participant can choose the group from the selection configured in
     the file specified below under <GroupInfoFile>, provided the chosen
     group is not yet full. -->
<GroupChoicePossible>
0
</GroupChoicePossible>


<!-- The following switch decides, whether participants can change groups
     after registration. -->
<GroupChangePossible>
0
</GroupChangePossible>


<!-- The following is a Python function that can automatically decide
     about the grading of a certain participant. This function is
     considered in two cases: (1) During the display of results for a
     participant and (2) During export of results. See also the next
     option about how to activate/deactivate this feature. -->
<GradingFunction>
def Grade(p,sl,mcscore,homescore,exams):
    '''This function decides about the grade of person p. sl is
       a list of sheets as returned by the function SheetList in the
       Exercises module. mcscore is the total sum of points in all
       closed sheets with counts value equal to 1. homescore is the total
       sum of points in the homework and exams is a list of length at 
       least 24 with one score corresponding to each of 24 exams (indexed
       from 0 to 23). If the participant did not take part in an exam,
       there is a zero in the corresponding position.'''
    if (mcscore+homescore >= 240 and 
        (exams[0]+exams[1] >= 50 or
         exams[2] >= 50 or
         exams[0]+exams[2] >= 50 or
         exams[1]+exams[2] >= 50)):
        return ('Sie bekommen den Schein.',1)
    else:
        return ('Sie bekommen leider keinen Schein.',0)
</GradingFunction>

<!-- The following entry decides, whether the automatic decision about
     grades is active or not. Only if the numerical value of the
     following entry is non-zero the grading is performed via
     the function in GradingFunction. -->
<GradingActive>
0
</GradingActive>


<!-- The following is a Python function that can automatically decide
     about the grading of an exam of certain participant. This function is
     considered in two cases: (1) During the display of results for a
     participant and (2) During export of results. See also the next
     option about how to activate/deactivate this feature. -->
<ExamGradingFunction>
def Grade(p,examnr):
    '''This function decides about the grade of person p in exam number
       examnr. This will only be called if the participant actually
       took part in the exam. This means that p.exams[examnr] is an
       object of type exam with non-negative totalscore entry. The function
       returns a tuple of length 2, the first being a message for the
       results page, the second a number for the grade.'''
    if p.exams[examnr].totalscore >= 25:
        return ('Sie haben in der Klausur vor Weihnachten '+
                str(p.exams[examnr].totalscore)+' Punkte bekommen und damit'
                ' bestanden.',1)
    else:
        return ('Sie haben in der Klausur vor Weihnachten '+
                str(p.exams[examnr].totalscore)+' Punkte bekommen und damit'
                ' nicht bestanden.',0)
</ExamGradingFunction>

<!-- The following entry decides, whether the automatic decision about
     exam grades is active or not. Only if the numerical value of the
     following entry is non-zero the exam grading is performed via
     the function in ExamGradingFunction. -->
<ExamGradingActive>
0
</ExamGradingActive>


<!-- The following entry gives the (global) maximal length of inputs
     in string entries in MC questions. -->
<MaxStringInputLength>
20
</MaxStringInputLength>


<!-- The following entry allows to switch the server in so-called
     "interactive" mode: This means that even before the closure time
     of a sheet the marks are shown if the participant enters the sheet
     again after a successfull submission. -->
<InteractiveMode>
0
</InteractiveMode>


<!-- The following entry switches, whether one tutor is allowed to enter
     homework results of people in other groups than his own in the free form
     input page /HomeworkFree. The default is 1 for "not allowed". -->
<RestrictToOwnGroup>
1
</RestrictToOwnGroup>


<!-- The following entries change the way multiple choice exercises are
     scored, the default values for the score for a correct answer and for
     a wrong answer as well as the lower limit for a whole exercise can
     be specified. The default values are +1, -1, and 0 respectively. -->
<MCScoreCorrectDefault>
1
</MCScoreCorrectDefault>

<MCScoreWrongDefault>
-1
</MCScoreWrongDefault>

<MCScoreExerciseLowerLimitDefault>
0
</MCScoreExerciseLowerLimitDefault>

<!-- ==================================================================== 
                          Installation section
     ==================================================================== -->

<!-- The following is a list of IP ranges of hosts that may connect to the
     server (use one Range element for each range in the list). The
     default is to allow access from all hosts. The notation of an IP
     range is a pair of strings separated by '/'. The first entry is an
     IPv4 address of a subnet in dotted quad string notation and the
     second the corresponding netmask in the same notation: -->
<AccessList>
<Range>0.0.0.0/0.0.0.0</Range>
</AccessList>

<!-- The following is a list of IP ranges of hosts that may connect to the
     server for administration. The first line below means to deny access 
     from all hosts except the localhost.  The notation is the same as 
     explained for AccessList above. 
     Note that this setting even denies access to the localhost if one uses 
     the hostname instead of "localhost" in the URL! 
     Please leave the localhost access always in this list since it is
     necessary for the ./start, ./stop, and ./restart scripts. -->
<AdministrationAccessList>
<Range>127.0.0.0/255.0.0.0</Range>
<!-- Another example, we use the following to allow admin access
from all machines in our institute: -->
<!--
<Range>137.226.152.0/255.255.255.128</Range>
-->
</AdministrationAccessList>

<!-- The following contains the path to the document root of the web server.
     All template files for web pages as well as subdirectories "images",
     "messages", and "errors" must be present in this directory. The path
     is either absolute or relative to the OKUSON home directory: -->
<DocumentRoot>
html
</DocumentRoot>

<!-- The following contains a list of directories where exercises are
     collected from. Enclose each path in <Dir> </Dir>. Relative paths
     are relative to the OKUSON home directory. -->
<ExerciseDirectories>
<Dir> exercises </Dir>
</ExerciseDirectories>

<!-- The following contains a list of directories where sheets are
     collected from. Enclose each path in <Dir> </Dir>. Relative paths
     are relative to the OKUSON home directory. -->
<SheetDirectories>
<Dir> sheets </Dir>
</SheetDirectories>

<!-- The name of the file where a general message which appears on every
     participant's results page is stored. The content of this file is
     pasted one to one into the xhtml file. -->
<GeneralMessageFile>
data/generalmessage.txt
</GeneralMessageFile>

<!-- The name of the file where registration information is stored:
     (usually a path relative to OKUSON's home directory, can be absolute) -->
<RegistrationFile>
data/people.txt
</RegistrationFile>

<!-- The name of the file where solution submissions are stored:         -->
<SubmissionFile>
data/submissions.txt
</SubmissionFile>    

<!-- The name of the file where results from written homework are stored: -->
<HomeworkFile>
data/homework.txt
</HomeworkFile>

<!-- The name of the file where registration for written exams are stored: -->
<ExamRegistrationFile>
data/examregistrations.txt
</ExamRegistrationFile>

<!-- The name of the file where results from written exams are stored: -->
<ExamFile>
data/exams.txt
</ExamFile>

<!-- The name of the file where information about distribution into small
     groups is stored: -->
<GroupFile>
data/groups.txt
</GroupFile>

<!-- The name of the file where private messages for participants are 
     stored: -->
<MessageFile>
data/messages.txt
</MessageFile>

<!-- The name of the file where general information on tutoring groups
     is stored: -->
<GroupInfoFile>
data/groupinfo.txt
</GroupInfoFile>

<!-- The name of the directory where the DTDs are stored: -->
<PathToDTDs>
dtd
</PathToDTDs>

<!-- The following is the id for a guest, who can download sheets without
     registration and password. Just set this to an invalid id to disable
     this feature: -->

<!-- The following template is used for the PDF-version of exercise
     sheets. You can change the text and layout before and after the
     table containing the actual exercises. 
  
     The following strings can be used as place holders (similar to the
     place holder tags in the HTML version of the sheets):
       (%ExtraLaTeXHeader%) as given in ExtraLaTeXHeader above
       (%SheetName%)      
       (%CourseName%)
       (%Semester%)
       (%Lecturer%)
       (%IdOfPerson%)              
       (%ConfigData.keyval%) as set above
       (%PersonData.keyval%) customization data for persons
       (%CurrentTime%)       string in current "locale" setting
       (%OpenTo%)            string in current "locale" setting for the
                             time when the sheet is closed
       (%ExercisesTable%)    the 'longtable' environment produced in the
                             Exercises module

-->

<PDFTemplate><![CDATA[
\documentclass[german,12pt,twoside,a4paper]{article}

\usepackage[latin1]{inputenc}
\usepackage{babel}
\usepackage{graphicx}
\usepackage{amssymb}
\usepackage{calc}
\usepackage{pslatex}

\usepackage{a4wide}
\setlength{\textwidth}{7.0in}
\setlength{\textheight}{10in}
\setlength{\oddsidemargin}{0.7in}
\setlength{\evensidemargin}{0.0in}
\setlength{\hoffset}{-0.7in}
\setlength{\voffset}{-0.7in}
\setlength{\headheight}{0pt}
\setlength{\topskip}{0pt}
\parindent0pt

% this is important for rendering the main table with the exercises
\usepackage{longtable}
\renewcommand{\arraystretch}{1.2}

\newcommand{\Z}{\mathbb Z}
\newcommand{\N}{\mathbb N}
\newcommand{\Q}{\mathbb Q}
\newcommand{\R}{\mathbb R}
\newcommand{\C}{\mathbb C}
\newcommand{\F}{\mathbb F}

% to avoid overful hboxes
\sloppy

(%ExtraLaTeXHeader%)

\begin{document}
\pagestyle{empty}
\begin{center}{\Large
Übungsblatt (%SheetName%)}\\
{\large (%CourseName%), (%Lecturer%), (%Semester%)}
\end{center}


Für Matrikelnummer: (%IdOfPerson%)

Abgabezeitpunkt: (%OpenTo%) 

Dieses Blatt wurde erstellt: (%CurrentTime%)

(%ExercisesTable%)

\end{document}
]]></PDFTemplate>


<PDFTemplateNoTable><![CDATA[
\documentclass[german,12pt,twoside,a4paper]{article}

\usepackage[latin1]{inputenc}
\usepackage{babel}
\usepackage{graphicx}
\usepackage{amssymb}
\usepackage{calc}
\usepackage{pslatex}

\usepackage{a4wide}
\setlength{\textwidth}{7.0in}
\setlength{\textheight}{10in}
\setlength{\oddsidemargin}{0.7in}
\setlength{\evensidemargin}{0.0in}
\setlength{\hoffset}{-0.7in}
\setlength{\voffset}{-0.7in}
\setlength{\headheight}{0pt}
\setlength{\topskip}{0pt}
\parindent0pt

\newcommand{\Z}{\mathbb Z}
\newcommand{\N}{\mathbb N}
\newcommand{\Q}{\mathbb Q}
\newcommand{\R}{\mathbb R}
\newcommand{\C}{\mathbb C}
\newcommand{\F}{\mathbb F}

% to avoid overful hboxes
\sloppy

(%ExtraLaTeXHeader%)

\newenvironment{exercise}[1]{\textbf{Aufgabe #1.}\hspace{5mm}}{\medskip}

\begin{document}
\pagestyle{empty}
\begin{center}{\Large
Übungsblatt (%SheetName%)}\\
{\large (%CourseName%), (%Lecturer%), (%Semester%)}
\end{center}


(%ExercisesNoTable%)

\end{document}
]]></PDFTemplateNoTable>

<!-- ====================================================================
                          Customization section
               If you feel inclined to change anything here 
                    you should know what you are doing!
     ==================================================================== -->

<!-- Width of texts on sheets before, between or after exercises in inch: -->
<WidthOfSheetsHTML> 6.8 </WidthOfSheetsHTML>
<WidthOfSheetsPDF> 6.8 </WidthOfSheetsPDF>

<!-- Width of texts between questions in inch. -->
<WidthOfExerciseTextsHTML> 6.5 </WidthOfExerciseTextsHTML>
<WidthOfExerciseTextsPDF> 6.5 </WidthOfExerciseTextsPDF>

<!-- Width of questions without the possible answers column in inch. -->
<WidthOfQuestionsHTML> 5.0 </WidthOfQuestionsHTML>
<WidthOfQuestionsPDF> 5.0 </WidthOfQuestionsPDF>

<!-- Resolutions for question text images in sheets in dots per inch. 
     This must be a comma separated list of positive integers. -->
<Resolutions> 96, 126, 148 </Resolutions>

<!-- Here you can change the format which is used for displaying date and
     time. The format is passed to the Python method time.strftime (cf.
     http://docs.python.org/lib/module-time.html). By default "%c" is used
     as format.
     Examples:
     <DateTimeFormat> %c </DateTimeFormat> results in a human readable
     (but not very nice) date and time, e.g. in German locale it looks like
     "Mi 19 Okt 2005 15:46:59 CEST".
     <DateTimeFormat> %A, %d. %B %Y, %H.%M Uhr </DateTimeFormat> results in
     German locale in something like the following:
     "Mittwoch, 19. Oktober 2005, 15.46 Uhr"
-->
<DateTimeFormat> %c </DateTimeFormat>

<!-- The following template is used by the LatexImage module to make a
     LaTeX string into an image for the web version. Note that this 
     template must contain three occurances of "%s", which will be replaced
     by the width of the image, possible extra stuff for the preamble (see 
     ExtraLaTeXHeader above), and the image text itself respectively. -->
<LaTeXTemplate><![CDATA[
\documentclass[german,12pt,a4paper]{article}

\usepackage[latin1]{inputenc}
\usepackage{babel}
\usepackage{graphicx}
\usepackage{amssymb}
\usepackage{calc}
\usepackage[body={%s-4pt,100in},dvips=true]{geometry}
\newcommand{\Z}{\mathbb Z}
\newcommand{\N}{\mathbb N}
\newcommand{\Q}{\mathbb Q}
\newcommand{\R}{\mathbb R}
\newcommand{\C}{\mathbb C}
\newcommand{\F}{\mathbb F}

%s

\begin{document}
\pagestyle{empty}
\parindent0pt
\sloppy
%s
\end{document}
]]></LaTeXTemplate>

</Config>

