  /* OKUSONSheet.css - style sheet for OKUSON project's sheets. */
 /* Copyright 2003 by Frank Lübeck and Max Neunhöffer          */
/* Lehrstuhl D für Mathematik, RWTH Aachen                    */

BODY {
  background-color:#ffffff;
  font-family: sans-serif, Helvetica, Arial, Geneva;
  margin: 2em;
} 

H1, H2, H3 {
  font-family: sans-serif, Helvetica, Arial, Geneva;
  font-weight: bold;
}

H1 {
  text-align: left;
  color: #191970;
  font-size: 144%;
}

H2 {
  text-align: left;
  font-size: 120%;
}

H3 {
  text-align: left;
  font-size: 100%;
}

table {
  border: 2pt solid #444444;
  padding: 3pt;
}

td.right {
  text-align: right;
}

p.foot {
  font-size: 0.8em
}

p.pcenter {
  text-align: center;
}

a:visited {
  color: #FF0000;
}

a:hover {
  background-color: #AAAAAA;
}

hr {
  width: 75%;
}

span.ergplus {
  color: green;
  text-align: right;
  font-weight: bold;
}

span.ergminus {
  color: red;
  text-align: right;
  font-weight: bold;
}

span.ergnull {
  color: #FFA500;
  text-align: right;
  font-weight: bold;
}

img {
  border: 0pt;
}
/*  $Id: OKUSONSheet.css,v 1.3 2003/10/16 13:48:30 luebeck Exp $  */ 
