
table.statistics tr.extrenner td{
  border-top: 2px solid black;
}

table.statistics tr.qutrenner td{
  border-top: 1px solid #444444;
}

table.statistics td.col100 {background-color: #00ff00;}
table.statistics td.col95 {background-color: #19fe00;}
table.statistics td.col90 {background-color: #32fe00;}
table.statistics td.col85 {background-color: #4cfe00;}
table.statistics td.col80 {background-color: #66fe00;}
table.statistics td.col75 {background-color: #7ffe00;}
table.statistics td.col70 {background-color: #98fe00;}
table.statistics td.col65 {background-color: #b2fe00;}
table.statistics td.col60{background-color: #ccfe00;}
table.statistics td.col55 {background-color: #e5fe00;}
table.statistics td.col50 {background-color: #ffff00;}
table.statistics td.col45 {background-color: #ffe500;}
table.statistics td.col40 {background-color: #ffcc00;}
table.statistics td.col35 {background-color: #ffb200;}
table.statistics td.col30 {background-color: #ff9800;}
table.statistics td.col25 {background-color: #ff6600;}
table.statistics td.col20 {background-color: #ff5500;}
table.statistics td.col15 {background-color: #ff4c00 ;}
table.statistics td.col10 {background-color: #ff3300 ;}
table.statistics td.col5 {background-color: #ff1900;}
table.statistics td.col0 {background-color: #ff0000 ;}

