  /* OKUSONAdmin.css - style sheet for OKUSON project (administration pages). */
 /* Copyright 2003 by Frank Lübeck and Max Neunhöffer                        */
/* Lehrstuhl D für Mathematik, RWTH Aachen                                  */

BODY {
  background-color:#ffa500;
  font-family: sans-serif, Helvetica, Arial, Geneva;
  margin: 2em;
} 

H1, H2, H3 {
  font-family: sans-serif, Helvetica, Arial, Geneva;
  font-weight: bold;
}

H1 {
  text-align: left;
  color: #191970;
  font-size: 144%;
}

H2 {
  text-align: left;
  font-size: 120%;
}

H3 {
  text-align: left;
  font-size: 100%;
}

table {
  border: 2pt solid #444444;
  padding: 3pt;
}

td.right {
  text-align: right;
}

p.foot {
  font-size: 0.8em
}

p.pcenter {
  text-align: center;
}

a:visited {
  color: #FF0000;
}

a:hover {
  background-color: #AAAAAA;
}

hr {
  width: 75%;
}

/*  $Id: OKUSONAdmin.css,v 1.1 2003/09/23 08:14:40 neunhoef Exp $  */ 
